<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blood bank</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    html, body{ height:100%; margin:0; }
header{ height:50px;}
footer{ height:75px; background:cyan; }

/* Trick */
body{
  display:flex;
  flex-direction:column;

}
}

  </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="background-color: black !important;">
        <h2 style="color:rgb(170, 30, 116)">Blood Bank</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
               <a class="nav-link" href="/userhome">Home</a>
             </li>

             <li class="nav-item active">
               <a class="nav-link" href="UserLoginDB">Profile</a>
             </li>
             <li class="nav-item active">
              <a class="nav-link" href="/usernot">Notifications</a>
            </li>
             <li class="nav-item active">
               <a class="nav-link" href="/logout">Logout</a>
             </li>

           </ul>
         </div>
       </nav>
	<br>
<br>
<br>
<br>
<div>
  <table border=1 width=500 class="table table-striped table-bordered table-sm">
<tr>
  <td>ID</td>
  <td>{{d[0][0]}}</td>

  </tr>
    <tr>
  <td>Name</td>
      <td>{{d[0][1]}}</td>
    </tr>
    <tr>
       <td>Gender</td>
      <td>{{d[0][2]}}</td>
    </tr>
     <td>Dob</td>
      <td>{{d[0][3]}}</td>
    </tr>
     <td>Blood Group</td>
      <td>{{d[0][4]}}</td>
    </tr>

    <tr>
    <tr>
  <td>Mail</td>
      <td>{{d[0][5]}}</td>
    </tr>
    <tr>
  <td>Mobile</td>
      <td>{{d[0][6]}}</td>
    </tr>
    <tr>
  <td>address</td>
      <td>{{d[0][7]}}</td>
    </tr>
    <tr>
  <td>user name</td>
      <td>{{d[0][8]}}</td>
    </tr>
    <tr>
  <td>password</td>
      <td>{{d[0][9]}}</td>
    </tr>
    <tr>
      <td>
  <form method="post" action="/updateProfile">

<input type="hidden" name="bid" value="{{d[0][0]}}">
<input type="submit" value="update Profile">
</form>
  </td>
    </tr>

</table>

</div>
</body>
</html>


