<!doctype html>
<html lang="en">
<head>

  <title>Blood bank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        body{font:12px/1.4 verdana,Arial;background:white;}

    html, body{ height:100%; margin:0; }
header{ height:50px;}
footer{ height:75px; background:cyan; }

/* Trick */
body{
  display:flex;
  flex-direction:column;
}



    </style>

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="background-color: black !important;">
        <h2 style="color:rgb(170, 30, 116)">Blood Bank</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
               <a class="nav-link" href="stock">Blood stock</a>
             </li>

             <li class="nav-item active">
               <a class="nav-link" href="showusers">Users</a>
             </li>
             <li class="nav-item active">
              <a class="nav-link" href="/showlog">Requests</a>
            </li>
             <li class="nav-item active">
               <a class="nav-link" href="/logout">Logout</a>
             </li>

           </ul>
         </div>
       </nav>
	<br>
<br>
<br>
<br>
<div style="padding-top:0px;">
<table border=1 width=500 class="table table-striped table-bordered table-sm" >
    <thead class="thead-dark">
<tr>
  <th>Log Id</th><th>ID</th><th>Name</th><th>Type</th><th>Blood group</th><th>Units</th><th>Reason</th><th>Status</th>
</tr>
    </thead>
{% for row in d%}
<tr>
{% for col in row %}
<td>{{col}}</td>
{%endfor%}
    {% if row[7]=="pending" %}
    <td>
        <input type="hidden" name="id" value="{{row[0]}}">
		    <a href="/approve/{{row[0]}}">Approve</a>
            <a href="/reject/{{row[0]}}">Reject</a>
    </td>
    {% endif %}
</tr>

{%endfor%}
</table>
</div></body>
</html>